*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 0px !important;
}
header{
	background-color: #3B8BEB;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    height: 140px;
}
header .box-search{
	position: relative;
	width: 600px !important;
	margin: 0 100px;
    z-index: 2;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
header .box-search::placeholder{
    color: #000;
}
header .khung-timkiem{
    position: relative;
}

header .testdrop{
    z-index: 4;
    position: relative;
}

.box-chon {
    /*Ẩn nội dụng các đường dẫn*/
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    bottom: -90px;
    left: -100px;
    z-index: 4;
    border-radius: 3px;
  }
  
  /* Thiết kế style cho các đường dẫn tronng Dropdown */
  .box-chon a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
  }
  .box-chon a:hover {
    opacity: 0.6;
}
  .hienThi{
    display:block;
  }



header .khung-timkiem .dropdown-toggle::after{
    display: none;
}
header .timkiem{
    margin-left: -98px;
	border: none;
	background:#fd7e14 ;
	color: #fff;
    z-index: 3;
    padding: 4px 5px;
}

/* end phần tìm kiếm */

.a-tin{
    position: absolute;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center;
    font-size: 14px;
    bottom: -22px;
    width: 100px;
    left: -31px;
}
.mn-text{
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.khung-li{
    position: relative;
    margin: 0px 25px;
    margin-top: -10px;
}
.khung-li:hover .hover-bd, .khung-li:hover .hover-user{
    display: block;
}
.hover-bd{
    width: 200px;
    min-height: 100px;
    display: none;
    position: absolute;
    top: 155%;
    right:-50% ;
    box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}
.hover-bd li{
    list-style: none;
    padding: 11px;
}
.hover-bd .hv-a{
    text-decoration: none;
    color: #fff !important;
    font-size: 14px;
}

.hover-user{
    min-width: 200px;
    min-height: 100px;
    display: none;
    position: absolute;
    top: 155%;
    right:-50% ;
    box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}
.hover-user li{
    list-style: none;
    padding: 5px;
}
.hover-user i{
width: 15%;
color: #FFAE19;
margin-left: 5px;
font-size: 15px;
}
.hover-user .hv-a{
    text-decoration: none;
    color: #fff !important;
    font-size: 14px;
}


.khung-li a img{
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%;
}
.hd-msg{
    width: 35px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu-title{
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 5px;
    z-index: 0;
}
.menu-title li a{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.menu-title li a i{
    font-size:17px;
    color:#000;
    margin-left: 5px;
}

/* end menu trên */

/* menu chính  */

.mm-chinh:hover .hrv-menu{
    display: block;
}
/* hover menu */


.hrv-menu{
    width: 100%;
    height: 200px;
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 1px solid rgba(0,0,0,.1);
    background: #fff;
    animation-name: hovermenu;
    animation-duration: 0.2s;
    z-index: 3;
}
@keyframes hovermenu {
    to{ height: 200px;}
    from{ height: 100px;}
}
.hrv-menu .ul-hrcon{
    width: 100%;
}
.hrv-menu .hrv-img{
    width: 20%;
    height: 200px;
    float: left;
    list-style: none;
}
.hrv-menu .ul-hrcon li{
    margin: 20px 5px;
    width: 13%;
    height: 20px;
    display: inline-block;
    list-style: none;
}
.hrv-menu li a{
    float: left;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    font-weight: normal;

}

/* end phần header */


/* footer */


footer{
    margin-top: 10px;
    background-color: #3B8BEB;
    min-height: 300px;
}

.mr140{
    margin-top: 140px;
}


.slide-show{
    /* margin-top: 140px; */
    z-index: 6;
}
.text-slide{
    padding: 0 !important;
    width: 500px;
}
/* end footer */
.dntc{
    margin-bottom: 15px;
}
.dntc h3{
    font-size: 25px;
    font-weight: bold;
    color: #FFAE19;
}
.bg-span{
    border-bottom: 1px solid rgb(151, 151, 151);
    float: right;
    width: 75%;
    position: absolute;
    right: 0;
    top: 17px;
}
.dm-thucung .img-danhmuc{
    margin: 0 20%;
    width: 150px;
     height: 150px;
     border-radius: 5px;
}
.dm-thucung .danhmuc-a{
    width: 100px;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 20px;
}
.dm-thucung:hover .img-danhmuc{
    transition: all 0.5s;
    transform: scale(1.05);
}
.dm-thucung:hover .danhmuc-a{
    color: #fd7e14;
}


.box-top{
    margin-top: -50px;
    background-color: #fff;
    height: 150px;
    border-radius: 30px;
    box-shadow: rgba(17, 17, 26, 0.17) -20px -20px 16px;
}
.box-i-1:hover i{
    animation-name: tinhtan;
    animation-duration: 2s;
}
@keyframes tinhtan {
    0%{margin-left: -10px;}
    50%{ margin-left: 10px;}
    100%{ margin-left: 0px;}
}
.box-top i{
    margin-top: 10px;
    font-size: 40px;
    color: #3B8BEB;
}
.box-top p{
    line-height: 45px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.box-tin-rao{
    position: relative;
    width: 19%;
    margin:5px 0.5%;
}
.box-tin-rao .box-size{
    position: absolute;
    top: -1px;
    left: -1px;
    background: #fd7e14;
    color: #fff;
    padding: 3px 10px;
    min-height: 30px;
    min-width: 50px;
    border-radius: 0px 0px 5px 0px;
}
.box-tin-rao .card-ban{
    padding: 0px !important;
}
.box-tin-rao .card-img{
    width: 100%;
    height: 150px;
}
.box-tin-rao:hover{
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.01);
}
/* .box-tin-rao:hover .card-img::after{
    transform: scale(1.05);
} */
.box-tin-rao .tin-ban{
    font-size: 14px;
    text-align: left;
    line-height: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #573f1e;
    margin:5px 5px;
}
.box-tin-rao .text-gia{
    font-size: 14px;
    font-weight: bold;
    color: #fd7e14;
    margin: 0px 5px;
}
.box-thongtin{
    margin: 5px 0px;
    justify-content: space-between;
}
.box-tin-rao .t-diachi{
    margin-right: 5px;
    font-size: 12px;
    color: #573f1e;
}
.box-tin-rao .i-diachi{
    font-size: 17px;
    color: #3B8BEB;
}
.ft-box{
    margin: 15px 5px 5px 0px;
    justify-content: space-between;
}
.box-tin-rao .ft-card{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12px;
    color: #573f1e;
}
.box-tin-rao .ft-link{
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 4px 10px;
    height: 30px;
    background: linear-gradient(0.25turn, #FFAE19, #f69d3c);
}
.box-tin-rao .ft-link:hover{
    transition: 0.3s;
    transform: scale(1.05);
}
.box-xemthem{
    font-size: 15px;
    letter-spacing: 0px;
    border-radius: 5px;
    padding: 6px 10px;
    width: 30%;
    height: 35px;
    margin: 10px auto 0px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box-xemthem>a{
    color: #000;
    text-decoration: none;
}
/* .kf-hover{
    height: 2px;
    width: 8%;
    margin-top: -10px;
    background-color: #fd7e14;
} */
.box-xemthem:hover .kf-hover{
    animation: bloom ease-in-out 2s forwards;
}
@keyframes bloom {
    from{
        width: 0%;
        background-color: #fd7e14;
        left: 0;
        top: 0;
	}
	to{
        width: 8%;
        background-color: #fd7e14;
        left: 200px;
        top: 0;
	}
}

.owl-carousel .owl-theme{
    width: 100%;
    height: 120px;
    background-color: #fd7e14;
    display: block;
}
.owl-carousel .item{
    width: 100%;
    height: 150px;
    list-style: none;
    position: relative;
}
.owl-plugin .owl-item{
    width: 20% !important;
}
.box-thuc-an{
    position: relative;
    width: 300px;
    height: 300px;
}
.box-thuc-an .box-size{
    position: absolute;
    top: -1px;
    left: -1px;
    background: #fd7e14;
    color: #fff;
    padding: 3px 10px;
    min-height: 30px;
    min-width: 50px;
    border-radius: 0px 0px 5px 0px;
}

.box-thuc-an .ft-link{
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 4px 10px;
    height: 30px;
    background: linear-gradient(0.25turn, #FFAE19, #f69d3c);
}
.box-thuc-an .ft-link:hover{
    transition: 0.3s;
    transform: scale(1.05);
}

/* .box-line{
    height: 500px;
} */

.box-thuc-an .tin-ban{
    font-size: 14px;
    text-align: left;
    line-height: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #573f1e;
    margin:5px 5px;
}
.box-meo{
    width: 100%;
    height: 300px;
}
.the-a{
    border: 1px solid #f69d3c;
    margin-left: 10px;
    border-radius: 25px;
    color: #000;
}
.the-a:hover{
    background-color: #f69d3c;
    color: #fff;
    transition: 0.5s;
}



.bg-cuahang{
    margin: 20px 0px;
    background: url('../images/slide-quang-cao/banner-25.jpg') center;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-cuahang .bg-chu{
    width: 80%;
    height: 300px;
    position: absolute;
    top: 45px;
}
.bg-chu>h3{
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    margin-left: 40px;
    letter-spacing: 0px;
}
.bg-chu>p{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-left: 85px;
    margin-top: 40px;
    margin-bottom: 70px;
}
.bg-chu>a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #573f1e;
    padding: 1rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 25%;
}
.bg-chu>a:hover{
    transition: 0.5s;
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.txt-title{
    letter-spacing: 1px;
    font-weight: bold;
}
.t-tin{
    border-radius: 10px;
<<<<<<< Updated upstream
=======
}
.repon-ipad{
    display: none;
}
.owl-item{
    width: none !important;
}
.header-repon{
    display: none;
}
/* reponsive ipad và ipad pro */
@media only screen and (max-width: 1024px){
    .text-repon{
        display: none;
    }
    .repon-ipad{
        display: block;
    }
    .repon-ipad .img{
        text-align: center;
    }
    .owl_plugin{
        display: none !important;
    }
    .header-repon{
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        display: block;
        position: fixed;
        bottom: 0;
        height: 50px;
        background-color: #fff;
    }
    .header-repon .icon-rp{
        font-size: 25px;
        color: #fd7e14;
    }
    .header-repon .box-rp{
        margin-top: 10px;
        width: 20%;
        position: relative;
    }
    .header-repon .box-rp-item{
        border:1px solid rgb(151, 151, 151);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -60px;
        left: 20%;
        width: 100px;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .header-repon .a-dangtin{
        color: #000;
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        left: 20%;
        top: 0%;
        text-decoration: none;
    }
    footer{
        margin-top: 10px;
        background-color: #3B8BEB;
        min-height: 350px;
    }
    .the-a{
        display: none;
    }
    .box-tin-rao{
        position: relative;
        width: 24%;
        margin:5px 0.5%;
    }
    .box-tin-rao .ft-link{
        margin-left: 5px;
    }
    .tinrao-container{
        width: 90%;
    }
    .dm-thucung p{
        margin: 0 20%;
    }
    .bg-span{
        display: none;
    }
}
/* reponsive ipad */
@media only screen and (max-width: 768px){
    .header-repon{
        height: 40px;
    }
    .header-repon .icon-rp{
        font-size: 20px;
        color: #fd7e14;
    }
    .header-repon .box-rp{
        margin-top: 10px;
        width: 20%;
        position: relative;
    }
    .header-repon .box-rp-item{
        border:1px solid rgb(151, 151, 151);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: 20%;
        width: 70px;
        height: 70px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .header-repon .a-dangtin{
        color: #000;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        left: 20%;
        top: -20%;
    }
    .box-tin-rao{
        position: relative;
        width: 32%;
        margin:5px 0.5%;
    }
    
    .dm-thucung .img-danhmuc{
        margin: 0 0%;
    }
   .bg-cuahang{
    height: 170px;
    }
   .bg-chu>h3{
    font-size: 30px;
    }
    .bg-chu>p{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .bg-cuahang .bg-chu{
        top: 15px;
    }
    .the-a{
        display: none;
    }
    .dm-thucung {
        width: 33%;
    }
    .dm-thucung .img-danhmuc{
        margin: 0px 16%;
    }
}
@media only screen and (max-width: 558px){
    .box-top{
        display: none;
    }
    .dntc h3{
        text-align: center;
    }
    .dntc .bg-span{
        visibility: hidden;
    }
    .dm-thucung{
        width: 50%;
    }
    .dm-thucung .img-danhmuc{
        margin: 0px 16%;
    }
    .box-tin-rao{
        position: relative;
        width: 49%;
        margin:5px 0.5%;
    }
    .danhmuc-tinrao{
        width: 100%;
    }
    .bg-chu>h3{
        font-size: 20px;
    }
    .bg-chu>p{
        font-size: 13px;
        margin-left:50px;
    }
    .bg-chu>a{
        font-size: 13px;
    }
>>>>>>> Stashed changes
}